/* Add your custom CSS here */
body {font-family: 'outfit', sans-serif;}

header h1 {font-size: var(--font-size-xxx);}

.section-selector-1 { background-color: var(--trend-800) }
.section-selector-1 > .badge span { color: var(--white-000) }
.section-selector-1 > .badge span { background-color: var(--trend-800) }
.section-selector-1 > .badge span { text-transform: uppercase;}

.section-selector-1 > .badge span {
    color: var(--white-000);
    background-color: var(--trend-800);
    text-transform: uppercase;
}

.section-selector-2 { background-color: var(--trend-800);}

.section-selector-3 { background-color: var(--trend-800) }


.section-selector-3 { background-color: var(--trend-800) }
.section-selector-4 { background-color: var(--trend-800) }


.section-selector-5 { background-color: var(--trend-800) }
.section-selector-5 div[class^='flex-cols-'] div[class^='col-'] figure.icon { color: var(--blue-300) }
